# Basics

In [4]:
print ("Hello World")

Hello World

In [6]:
2+4

6

In [8]:
21/3

7.0

In [10]:
4*4

16

In [262]:
# use # for titles in markdown, increase number of # (###) for smaller text

# None shall Pass!!!
## The holy hand grenade of Antioch
watery tarts throwing swords is no basis for a system of government

This is a cell in raw text

In [21]:
print("This is an EX-Parrot")

This is an EX-Parrot

In [40]:
print("No, it's just resting")

No, it's just resting

In [42]:
print(3.14)

3.14

In [44]:
print("3.14")

3.14

In [46]:
print(3.14*2)

6.28

In [48]:
print("3.14"*2)

3.143.14

In [50]:
print(type(3.14))

<class 'float'>

In [52]:
print(type("3.14"))

<class 'str'>

In [54]:
print("I love Python')

SyntaxError: unterminated string literal (detected at line 1) (3150522118.py, line 1)

In [56]:
pirnt("I love Python")

NameError: name 'pirnt' is not defined

In [58]:
?print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [60]:
?type

Init signature: type(self, /, *args, **kwargs)
Docstring:
type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type
Type:           type
Subclasses:     ABCMeta, EnumType, _AnyMeta, NamedTupleMeta, _TypedDictMeta, _DeprecatedType, _ABC, MetaHasDescriptors, PyCStructType, UnionType, ...

In [62]:
print(5/8)

0.625

In [64]:
print(20*3/7)

8.571428571428571

In [66]:
sum(2,3)

TypeError: 'int' object is not iterable

In [68]:
sum(2+3)

TypeError: 'int' object is not iterable

In [74]:
print("NOBODY expects the Spanish Inquisition!\nOur chief weapon is surprise...surprise and fear...fear and surprise....")
print()
print("Our two weapons are fear and surprise...and ruthless efficiency....\nOur *three* weapons are fear, surprise, and ruthless efficiency...")
print()
print("and an almost fanatical devotion to the Pope.... Our *four*...no... *Amongst* our weapons....\nAmongst our weaponry...are such elements as fear, surprise....")
print()
print("I'll come in again.")

NOBODY expects the Spanish Inquisition!
Our chief weapon is surprise...surprise and fear...fear and surprise....

Our two weapons are fear and surprise...and ruthless efficiency....
Our *three* weapons are fear, surprise, and ruthless efficiency...

and an almost fanatical devotion to the Pope.... Our *four*...no... *Amongst* our weapons....
Amongst our weaponry...are such elements as fear, surprise....

I'll come in again.

In [3]:
print("a" + "b" + "c")

abc

In [5]:
print("a" , "b" , "c")

a b c

In [15]:
print("The itsy bitsy spider","climbed up","the waterspout.")

The itsy bitsy spider climbed up the waterspout.

In [9]:
print("The itsy bitsy spider" + "climbed up" + "the waterspout.")

The itsy bitsy spiderclimbed upthe waterspout.

In [11]:
print("The itsy bitsy spider " + "climbed up " + "the waterspout.")

The itsy bitsy spider climbed up the waterspout.

In [17]:
print("My name is","Python")
print("Monty Python")

My name is Python
Monty Python

In [25]:
print("My name is","Python",sep=" *")
print("Monty Python")

My name is *Python
Monty Python

In [23]:
print("My name is","Python",sep="_")
print("Monty Python")

My name is_Python
Monty Python

# seperator aguements must come at the end - positional arguements always follow keyword arguments

In [27]:
print("My name is","Python")
print("Monty Python",end="!")

My name is Python
Monty Python!

\ backslash character announces that the next string has a seperate meaning eg. \n means newline

In [39]:
print("My name is Python\nMonty Python")

My name is Python
Monty Python

# Boolean logic - true or false

In [41]:
print(3>4)

False

In [43]:
print(3<4)

True

# Arithmetic

# arithmetic

In [45]:
print(30+5)

35

In [47]:
print(30-5)

25

In [49]:
print(30/5)

6.0

In [51]:
print(30*5)

150

// Floor division (x//y) (the number of times the second number fits into the first number)

In [57]:
print(30//5)

6

In [67]:
print(146789//13)

11291

% - Modulus (x%y) - displays just the remainder following division

In [63]:
print(14%3)

2

In [65]:
print(146789%13)

6

** - Exponentiation (x**y) - multiply by the power of

In [73]:
print(10**2) # 10 * 10

100

In [71]:
print(3**3) # 3 * 3 * 3

27

In [83]:
print(100**0.5)

10.0

In [85]:
# to designate a comment line

In [91]:
# Structure of declaration - variable name = "value"

In [93]:
planet = "Mars"
myname = "Alex"
my_age = 44

In [95]:
# doesn't print a result but is saved.

In [97]:
print(planet)

Mars

In [99]:
print(myname)

Alex

In [101]:
print(my_age)

44

In [103]:
print("I will be", my_age+10, "in 10 years")

I will be 54 in 10 years

In [105]:
print(myname, "will be the first human on", planet)

Alex will be the first human on Mars

In [107]:
my_age = 33
your_age = 30
my_age = your_age

In [109]:
print(my_age)

30

In [113]:
# do not use keywords for variable names as this will break the definition of the function (eg. print = 10)

In [139]:
my_name = "Alexander Thompson"

In [143]:
print(my_name)

Alexander Thompson

In [146]:
print(type(my_name))

<class 'str'>

In [148]:
print(len(my_name))

18

# input function

In [151]:
print("tell me anything")
anything = input()
print("Hmmm...", anything, "...really")

tell me anything

 custard creams are the best biscuit

Hmmm... custard creams are the best biscuit ...really

In [153]:
print("tell me anything")
anything = input()
print("Hmmm...", anything, "...really")

tell me anything

 what

Hmmm... what ...really

In [155]:
anything = input("tell me anything")
print("Hmmm...", anything, "...really")

tell me anything I am that guy

Hmmm... I am that guy ...really

In [159]:
# input values are stings not intergers by default

In [174]:
anything = input("Tell me anything...")
 
print(type(anything))
 
print(int(anything)/2)

Tell me anything... 20

<class 'str'>
10.0

In [176]:
anything = input("Give me a number: ")
 
print(type(anything))
 
print(f"Half of {anything} is", float(anything)/2)

Give me a number:  50

<class 'str'>
Half of 50 is 25.0

In [178]:
anything = input("Give me a number: ")
 
print(type(anything))
 
print(f"Half of {anything} is", float(anything)/2)

Give me a number:  13.9

<class 'str'>
Half of 13.9 is 6.95

In [182]:
print("Give me 2 integers and I will calculate exponentiation")
number1 = int(input("Enter first number: "))
number2 = int(input("Enter second number: "))
print(f"{number1} to the power of {number2} is", number1**number2)

Give me 2 integers and I will calculate exponentiation

Enter first number:  2
Enter second number:  4

2 to the power of 4 is 16

In [184]:
print("Give me 2 integers and I will calculate exponentiation")
number1 = int(input("Enter first number: "))
number2 = int(input("Enter second number: "))
print(f"{number1} to the power of {number2} is", number1**number2, end=".")
print()
print(f"{number2} to the power of {number1} is", number2**number1, end=".")

Give me 2 integers and I will calculate exponentiation

Enter first number:  2
Enter second number:  4

2 to the power of 4 is 16.
4 to the power of 2 is 16.

# casting

In [167]:
a = "3"
print(type(a))
b = int(a)
print(type(b))
print(b)

<class 'str'>
<class 'int'>
3

In [169]:
a = "3.14"
print(type(a))
b = float(a)
print(type(b))
print(b)

<class 'str'>
<class 'float'>
3.14

In [171]:
a = 3.14
print(type(a))
b = str(a)
print(b)
print(type(b))

<class 'float'>
3.14
<class 'str'>

In [188]:
print("This is a square calculator.")
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "square is", something)

This is a square calculator.

Enter a number:  5

5.0 square is 25.0

In [226]:
# exercise - Design a calculator that will get two numbers from user, make arithmetic operations and display the result.

In [224]:
number1 = float(input("Enter a number: "))
number2 = float(input("Enter a number: "))
number3 = 100/number1*number2
print(number2, "is", number3, "percent of", number1)

Enter a number:  200
Enter a number:  10

10.0 is 5.0 percent of 200.0

In [228]:
number1 = int(input("Enter a number: "))
number2 = int(input("Enter a number: "))
number3 = 100/number1*number2
print(number2, "is", number3, "percent of", number1)

Enter a number:  200
Enter a number:  10

10 is 5.0 percent of 200

In [230]:
print('Hello', 'World')

Hello World

In [232]:
x = 5

In [234]:
print(x)

5

In [236]:
x = 'John'

In [238]:
print(x)

John

In [240]:
A = 5

In [242]:
print(A)

5

In [244]:
a = 'Hello'
b = 'World'
print(a + b)

HelloWorld

In [246]:
a = 4
b = 5
print(a + b)

9

In [248]:
print(type(x))

<class 'str'>

In [250]:
x = 5
print(type(x))

<class 'int'>

In [252]:
x = "Hello World"
print(type(x))

<class 'str'>

In [254]:
x = 20.5
print(type(x))

<class 'float'>

In [256]:
print(int(35.88))

35

In [258]:
print(float(35))

35.0

In [260]:
print(str(35.80))

35.8

In [262]:
x = 'Welcome'
y = 'Coders'
print(x + y)

WelcomeCoders

In [266]:
a = 'Join'
b = 'the'
c = 'party'
print(a + " " + b + " " + c)

Join the party

In [268]:
print(sep="&", "fish", "chips")

SyntaxError: positional argument follows keyword argument (3521117779.py, line 1)

In [270]:
print('Greg\'s book.')

Greg's book.

In [274]:
print('"Greg's book."')

SyntaxError: unterminated string literal (detected at line 1) (2101838058.py, line 1)

In [276]:
var = 2
var = 3
print(var)

3

In [278]:
x = int(input("Enter a number: ")) # The user enters 2
print(x * "5")

Enter a number:  2

55

In [280]:
x = input("Enter a number: ") # The user enters 2
print(type(x))

Enter a number:  2

<class 'str'>

# day 1 Exercise

In [288]:
name = input("enter name")
age = input("enter age")
print("Hi", name, "congrats on turning", age, "today.")

enter name Burt
enter age 52

Hi Burt congrats on turning 52 today.

In [306]:
leng = float(input("enter_length"))
wid = float(input("enter_width"))
area = leng * wid
print("carpet required is", area)

enter_length 5
enter_width 3

carpet required is 15.0

In [312]:
temp = float(input("temp in celsius"))
fahrenheit = 9/5 * temp + 32
print(fahrenheit)

temp in celsius 24

75.2

In [314]:
distance = float(input("enter distance"))
miles = distance * 0.621371
km = distance * 1.609344
print(miles, "miles")
print(km, "kilometers")

enter distance 1

0.621371 miles
1.609344 kilometers

In [320]:
number = int(input("Enter a 3-digit number: "))
hundreds = number // 100
tens = (number % 100) // 10
ones = number % 10
sum_of_digits = hundreds + tens + ones
print(f"The sum of the digits of {number} is {sum_of_digits}.")

Enter a 3-digit number:  265

The sum of the digits of 265 is 13.

In [328]:
number = int(input("Enter 4-digit number:"))
thousands = number // 1000
hundreds = (number % 1000) // 100
tens = (number % 100) // 10
ones = number % 10
new_number = ones * 1000 + tens * 100 + hundreds * 10 + thousands
print(f"The reverse of {number} is {new_number}.")

Enter 4-digit number: 1234

The reverse of 1234 is 4321.

# Comparison Operators

In [1]:
# == Operator

In [3]:
a = 2
b = 3
print(a == b)

False

In [6]:
print(a==2)

True

In [8]:
print(2==3)

False

In [10]:
print(2>=3)

False

In [12]:
print(2<=3)

True

In [14]:
print(100<99)

False

In [16]:
# != operator - Not Equal to

In [18]:
print(2!=3)

True

In [20]:
print(a!=b)

True

In [24]:
print(3!=3)

False

In [27]:
# > greater than, < lesser than, >= greater or aqual to, <= lesser or equal to

In [33]:
n = int(input("Enter Number here"))
print(n>=100)

Enter Number here 101

True

In [35]:
n = int(input("Enter Number here"))
print(n>=100)

Enter Number here 99

False

In [37]:
n = int(input("Enter Number here"))
print(n>=100)

Enter Number here 100

True

# if statements

In [48]:
a=33
b=100
if b>a:
    print("b is greater than a")

b is greater than a

In [50]:
a=133
b=100
if b>a:
    print("b is greater than a")

In [52]:
a=33
b=100
if b>a:
    print("b is greater than a")
if b<a:
    print("a is greater than b")

b is greater than a

In [54]:
a=133
b=100
if b>a:
    print("b is greater than a")
if b<a:
    print("a is greater than b")

a is greater than b

In [62]:
n = int(input("Enter Number here"))
if n >=100:
    print("Your number is greater or equal to 100")
if n <100:
    print("Your number is less than 100")

Enter Number here 101

Your number is greater or equal to 100

In [64]:
# elif and else statements (must come after if)

In [70]:
n = int(input("Enter Number here"))
if n >100:
    print("Your number is greater than 100")
elif n <100:
    print("Your number is less than 100")
else:
    print("Your number is equal to 100")

Enter Number here 99

Your number is less than 100

In [74]:
password = 1234
user_password = int(input("Enter password"))
if user_password == password:
    print("Your password is Correct")
else:
    print("Password incorrect, please try again")

Enter password 1234

Your password is Correct

In [76]:
password = 1234
user_password = int(input("Enter password"))
if user_password == password:
    print("Your password is Correct")
else:
    print("Password incorrect, please try again")

Enter password 123

Password incorrect, please try again

In [84]:
print("Enter two numbers and I will find the larger number")
number1 = float(input("Enter your first number"))
number2 = float(input("Enter your second number"))
if number1 > number2:
                larger_number = number1
else:
                larger_number = number2
print("The larger number is", larger_number)

Enter two numbers and I will find the larger number

Enter your first number 99
Enter your second number 100

The larger number is 100.0

In [98]:
print("Enter two numbers and I will find the larger number")
number1 = float(input("Enter your first number"))
number2 = float(input("Enter your second number"))
if number1 > number2:
    larger_number = number1
elif number2 > number1:
    larger_number = number2
    print("The larger number is", larger_number)
else:
    print("They are equal")
print("This calculation is complete")

Enter two numbers and I will find the larger number

Enter your first number 99
Enter your second number 99

They are equal
This calculation is complete

In [114]:
n = float(input("Enter number here:"))
if n > 0:
    print("This is a positive number")
elif n < 0:
    print("This is a negative number")
else:
    print("The number is 0")

Enter number here: -1

This is a negative number

In [133]:
n = int(input("Enter whole number here:"))
if n % 2 == 0:
    print("This is an even number")
else:
    print("This is an odd number")

Enter whole number here: 10

This is an even number

# While Loop

In [136]:
i = 1
while i < 6:
    print(i)
    i +=1

1
2
3
4
5

In [138]:
# print all odd numbers between 1 and 10

In [144]:
i=1
while i<11:
    if i %2 != 0:
        print(i)
    i +=1

1
3
5
7
9

In [146]:
i = 1
while i<11:
    print(i)
    i +=2

1
3
5
7
9

In [148]:
# make sure to avoid an endless loop as this can break the program

In [152]:
i = 1
while i <6:
    print(i)
    if i==3:
        break
    i +=1

1
2
3

In [156]:
password = 1234
user_password = int(input("Please enter your password"))
if password == user_password:
    print("Correct password. Welcome")
while password != user_password: 
    user_password = int(input("Password incorrect. Please try again"))
    if user_password == password:
        print("Your password is correct. Welcome!")
        break
    else:
        print("You entered incorrect password. Try again")

Please enter your password 123
Password incorrect. Please try again 1234

Your password is correct. Welcome!

In [168]:
# lopp of even numbers up to 10

In [170]:
x=0
while x<11:
    if x %2 == 0:
        print(x)
    x +=1

0
2
4
6
8
10

In [172]:
x=0
while x<11:
    print(x)
    x +=2

0
2
4
6
8
10

# Let's play famous guessing a number game using while loop.
Write a program that:
Takes the number from user
Compares the number the user entered with the number you assigned and then gives a message Little lower or Little higher till the user knows it.

In [198]:
n = 43
number = int(input("Enter a number here:"))
if number == n:
    print("Well done, you guessed right!")
while number != n:
    if number > n:
        number = int(input("try lower:"))
    elif number < n:
        number = int(input("try higher:"))
print("Well done, you guessed right!")

Enter a number here: 10
try higher: 100
try lower: 43

Well done, you guessed right!

# For Loop

In [201]:
myname = "unknown"
for i in myname:
    print(i)

u
n
k
n
o
w
n

In [203]:
for i in "watermelon":
    print(i)

w
a
t
e
r
m
e
l
o
n

In [205]:
# start, stop, step

In [209]:
print("Number from 1 to 50 which are multiples of 7.")
for i in range(1,51):
    if i %7 == 0:
        print(i)

Number from 1 to 50 which are multiples of 7.
7
14
21
28
35
42
49

In [211]:
# Given list of numbers

numbers = [3, 7, 1, 8, 2]
 
# Your task: Use a for loop to find the total sum of the numbers

total = 0
 
for i in numbers:

    total += i

print(total)

21

In [213]:
print("enter an integer and I will calcualte factorials")
number = int(input("Enter your number:"))
factorial = 1
for i in range(1, number+1):
    factorial *= i
print(factorial)

enter an integer and I will calcualte factorials

Enter your number: 22

1124000727777607680000

In [241]:
for i in range(1, 101):
    if i %3 ==0 and i %5 ==0:
        print("fizzbuzz")
    elif i %3 ==0:
        print("fizz")
    elif i %5 ==0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

# end of day 2 test

In [243]:
x = 5
y = 10
z = 8
print(x > y)
print(y > z)

False
True

In [245]:
x, y, z = 5, 10, 8
print(x > z)
print((y - 5) == x)

False
True

In [247]:
x = 10

if x == 10:
    print(x == 10)
if x > 5:
    print(x > 5)
if x < 10:
    print(x < 10)

True
True

In [249]:
n = range(4)
 
for num in n:
    print(num - 1)
else:
    print(num)

-1
0
1
2
3

In [251]:
n = 3
 
while n > 0:
    print(n + 1)
    n -= 1

4
3
2

In [253]:
for i in range(0, 20, 3):
    print(i)

0
3
6
9
12
15
18

In [255]:
i = 0
while i <= 3 :
    i += 2
    print("*")

*
*

In [257]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        print("#")

#
#
#